@import url('https://fonts.googleapis.com/css?family=Cinzel|Poppins');

body            { background: #111;font-size:16px;}
body,h4,h5      { font-family: "Poppins", sans-serif}
a, h1, h2,body  { color: #CCC; }
a:hover         { color: #F00;}
h1, h2,h3       { font-family: 'Cinzel', cursive !important; margin: 0;
                  text-align: center;}

h1              { font-size: 36pt; border-bottom: 1px solid  #222; }
h2              { font-size: 20pt; }
h3              { font-size: 20pt; }
input, select   { background: #333; border: 1px solid #222; color:#CCC;text-align: center;}
.w3-sidebar     {font-family:'Cinzel'; background: #444}
.hebrew         {font-family:serif; font-size: 48pt;color:#F00}
.content        {padding: 1.6em 0; text-align: center;}
.w3-text-red    {color:#F00!important}
